<script id="progressbar-template-id" type="text/x-handlebars-template">
  <div id="{{id}}" class="progress" style="width:100%;position: relative; left: 0;top: 0;z-index: 999">
    <div class="{{className}} progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="transition: none;"></div>
    </div>


</script>
