<nav>
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link active nav-item" id="nav-home-tab" data-toggle="tab" href="#nav-draft" role="tab" aria-controls="nav-draft" aria-selected="false">Draft Mode</a>
    </li>
    <li class="nav-item">
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-published" role="tab" aria-controls="nav-published" aria-selected="false">Published</a>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
      <div class="dropdown-menu">
        <a class="dropdown-item j-create-link" href="#" data-toggle="modal" data-target="#genericModal">Create New</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item j-reset-publish-link" href="#">Reset to Published Version</a>
        <a class="dropdown-item j-publish-changes-link" href="#">Publish Changes</a>
      </div>
    </li>
  </ul>
</nav>
<div class="content-wrapper" style="overflow: auto;max-height: calc(100vh - 130px)">
  <div class="container-fluid">
    <div class="tab-content pb-4" id="nav-tabContent">

      <div class="tab-pane fade show active mt-4" id="nav-draft" role="tabpanel" aria-labelledby="nav-home-tab">
        <div id="list"></div>
        <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel" aria-hidden="false">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>


      <div class="modal" id="errorModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body error-message mx-auto py-5" style="color:#7a2826" >
            </div>

            <!-- Modal footer -->
            <!--<div class="modal-footer">-->
              <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
            <!--</div>-->

          </div>
        </div>
      </div>


      <div class="tab-pane fade mt-4" id="nav-published" role="tabpanel" aria-labelledby="nav-profile-tab">
       <div id="published_list"></div>
      </div>
    </div>

  </div>


</div>
<!-- /.container-fluid -->

<% content_for :end_js do %>
  <%= render :partial => "/shared/ost_form_builder/all_partials_templates" %>
  <script type="text/javascript">
    cms.dashboard.init({
      'meta_data' : '<%= raw @config_response.to_json %>' ,
      'entity_id' : '<%= @entity_id %>'
    });

  </script>
<% end %>

<!-- /.content-wrapper -->
<!-- /#wrapper -->