/usr/local/mysql/bin/mysqladmin -u root password root




<div class="app sidebar-mini rtl  pace-done">
  <div class=" pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>

  <%= render :partial => "/web/ost/index/navbar" %>
  <%= render :partial => "/web/ost/index/sidebar" %>

  <div class="app-content h-100">
    <%= render :partial => "/web/ost/index/content" %>
  </div>
  <%= render :partial => "/web/ost/index/footer" %>



</div>


