<%= render :partial => "/web/ost/index/navbar" %>
<%= render :partial => "/web/ost/index/footer" %>
<%= render :partial => "/web/ost/index/sidebar" %>

<div id="wrapper">

<div id="content-wrapper">

<div class="container-fluid">

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Overview</li>
</ol>

<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->
<!-- /#wrapper -->