<div class="d-flex align-items-center" style="height: 100vh">
  <div class="mx-auto text-center">
    <h3>You are not whitelisted user</h3>
    <a href="/auth/logout" class="btn btn-primary mx-auto">Go Back</a>
  </div>
</div>