<div class="d-flex align-items-center" style="height: 100vh">
  <div class="mx-auto">
    <h1 class="display-4">OST CMS</h1>
    <a href="/auth/google_oauth2">
      <img src="btn_google_signin_dark_normal_web@2x.png" style="width:250px" />
    </a>
  </div>
</div>

