<script type="text/x-handlebars-template" id="ost-input-file" data-partial-id="ost-input-file">

  <div class="file-input-error-wrapper">
  <label>{{input_label}}</label> <p class="small text-muted font-weight-light font-italic mb-1">{{tooltip_title}}</p>
  <div class="row form-group  ost-file-uploader-wrap {{entityKey}} mb-0">
    <div class="col-12 text-right label-wrapper d-flex" >
      <label class="input-label-wrapper text-left" for="{{generateId data_key_name}}" title="{{title}}">
        {{#data_key_value}}
        <img class="file-uploaded-img h-100 float-left" src="{{this}}" />
        {{else}}
        <div class="image-placeholder h-100 float-left">
          <div class="place-holder">Image</div>
        </div>
        {{/data_key_value}}
        <div class="btn-secondary btn p-2 ml-3 float-left">Browse</div>
      </label>
      <input id="{{generateId true}}" class="file-upload-mocker not-in-view" type='file' name="{{data_key_name}}_mocker"
            {{#validations.width_weight}} data-width-weight="{{this}}" {{/validations.width_weight}}
            {{#validations.height_weight}} data-height-weight="{{this}}" {{/validations.height_weight}}
            {{#validations.min_bytes}} data-min-bytes="{{this}}" {{/validations.min_bytes}}
            {{#validations.max_bytes}} data-max-bytes="{{this}}" {{/validations.max_bytes}}
            {{#validations.accept}} data-accept="{{getAccept this}}" {{/validations.accept}}
            data-get-signed-url={{get_signed_url}} >

      <input class="not-in-view file-uploader" name="{{data_key_name}}" value="{{data_key_value}}" type="text"
             {{isRequired validations.required}} />
    </div>

  </div>
  <div class="row" style="height:20px;">
    <div class="invalid-feedback col-12" data-forname="{{data_key_name}}"></div>
  </div>
  </div>

</script>

<script type="unknown" id="j-processing-icon">
  <img class="img-fluid processing-icon mt-5 ml-5" width="40px" height="40px"
    src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif"/>
</script>

<script type="text/x-handlebars-template" id="uploaded-image-wrap">
  <img class="file-uploaded-img h-100 float-left" src="{{img_src}}" />
  <div class="btn-secondary btn p-2  ml-3 float-left">Browse</div>
</script>

<% content_for :ost_components do %>
  <script type="text/javascript">
    $(function () {
      Handlebars.registerHelper('getAccept', function( data, options ) {
        if( typeof data == "string" ){
          return data;
        }else if( data && data.constructor == Array ) {
          return data.join(' , ');
        }
        return "";
      });
      Handlebars.registerHelper('ifFilePath', function( data, options ) {
        if( typeof data == "string" ){
          return options.fn(this);
        }
        return options.inverse(this);
      });
    });
  </script>
<%end%>
