<script  type="text/x-handlebars-template" id="generic-link" data-partial-id="generic-link">
  <div class="form-group mb-0">
    <label for="{{data_key_name}}">{{input_label}}</label>
    <input type="url" pattern="http(|s)://.*" class="form-control" id="{{data_key_name}}" name="{{data_key_name}}" value="{{data_key_value}}"
      {{#each validations}}
        {{#when @key '==' 'required'}}
          {{#when this '==' true}}required{{else}} {{/when}}
        {{else}}
          {{@key}}="{{this}}"
        {{/when}}
      {{/each}}
    />
    <div class="error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>
  </div>
</script>