<script  type="text/x-handlebars-template" id="generic-select" data-partial-id="generic-select">
  <!--<div class="form-group mb-0">-->
    <!--<label for="{{data_key_name}}">{{input_label}}</label>-->
    <!--<input type="url" pattern="http(|s)://.*" class="form-control" id="{{data_key_name}}" name="{{data_key_name}}" value="{{data_key_value}}"-->
           <!--{{#each validations}}-->
           <!--{{#when @key '==' 'required'}}-->
    <!--{{#when this '==' true}}required{{else}} {{/when}}-->
    <!--{{else}}-->
    <!--{{@key}}="{{this}}"-->
    <!--{{/when}}-->
    <!--{{/each}}-->
    <!--/>-->
    <!--<div class="is-error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>-->
  <!--</div>-->


  <div class="form-group">
    <label for="exampleFormControlSelect1">{{input_label}}</label>
    <select class="form-control"  name="{{data_key_name}}" id="exampleFormControlSelect1" multiple>
      {{#each select_options}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>



</script>