
<script  type="text/x-handlebars-template" id="generic-radio-button" data-partial-id="generic-radio-button">
  <div class="form-group mb-0">
    <label for="{{data_key_name}}">{{input_label}}</label>
    <input type="checkbox" name="{{data_key_name}}" value="{{data_key_name}}"><br>
    <div class="is-error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>
  </div>
</script>