<script  type="text/x-handlebars-template" id="generic-color-picker" data-partial-id="generic-color-picker">
  <div class="form-group mb-0">
    <label for="{{data_key_name}}">{{input_label}}</label> <p class="small text-muted font-weight-light font-italic mb-1">{{tooltip_title}}</p>
    <input type="text" class="form-control color-picker" id="{{data_key_name}}" name="{{data_key_name}}" value="{{data_key_value}}"
           {{#each validations}}
           {{#when @key '==' 'required'}}
    {{#when this '==' true}}required{{else}} {{/when}}
    {{else}}
    {{@key}}="{{this}}"
    {{/when}}
    {{/each}}
    />
    <div class="error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>
  </div>
</script>