<script  type="text/x-handlebars-template" id="generic-date-picker" data-partial-id="generic-date-picker">
  <div class="form-group mb-0">
    <label for="{{data_key_name}}">{{input_label}}</label>
    <input  type="date" class="cms-date-picker form-control"
            {{#each validations}}
            {{#when @key '==' 'required'}}
            {{#when this '==' true}}required{{else}} {{/when}}
            {{else}}
            {{@key}}="{{this}}"
            {{/when}}
            {{/each}}/>
    <input type="text" class="not-in-view" name="{{data_key_name}}" value="{{data_key_value}}"/>
    <div class="is-error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>
  </div>
</script>