<script  type="text/x-handlebars-template" id="generic-multiselect" data-partial-id="generic-multiselect">
  <div class="form-group mb-0">
    <label for="{{data_key_name}}">{{input_label}}</label>
    <select class="form-control selectpicker" id="{{data_key_name}}" name="{{data_key_name}}"  multiple
      {{#each validations}}
         {{#when @key '==' 'required'}}
            {{#when this '==' true}}required{{else}} {{/when}}
         {{else}}
            {{@key}}="{{this}}"
         {{/when}}
      {{/each}}
     >
    {{#each select_options}}

    <option value="{{this.value}}" {{isSelected this.value ../data_key_value }}>{{this.name}}</option>
    {{/each}}
    </select>
    <div class="error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>
  </div>

</script>