
<script  type="text/x-handlebars-template" id="generic-radio-button" data-partial-id="generic-radio-button">
  <div class="form-group mb-0">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="{{data_key_name}}" {{#if data_key_value}}checked{{/if}}>
      <label class="form-check-label" for="{{data_key_name}}">{{input_label}}</label>
    </div>
    <div class="error" data-field-name="{{data_key_name}}" data-forname="{{data_key_name}}"></div>
  </div>
</script>