<script type="text/x-handlebars-template" id="list_view">
    <div id="accordion">
      {{#each list_data}}
        <div class="card mb-3 draft-mode" data-record-id="{{this.id}}">
          <span class="ml-2"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
          <div class="card-header pt-0" id="listHeading">
            <h5 class="mb-0">
              <button class="btn btn-link px-0 pt-0" data-toggle="collapse" data-target="#record_{{this.id}}" aria-expanded="false" aria-controls="record_{{this.id}}">
                #<span class="record-index">{{math @index '+' 1}}</span> {{{this.heading}}}
              </button>
              <span class="float-right align-text-top">
                  <a class="j-edit-link mb-3 mr-2" name="Edit" data-toggle="modal" data-target="#genericModal" data-id="{{this.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a class="j-delete-link mb-3" name="Delete" data-id="{{this.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </span>
            </h5>
          </div>
          <div id="record_{{this.id}}" class="collapse hide" aria-labelledby="listHeading" data-parent="#accordion">
            <div class="card-body">
              {{#each this.record}}
                {{#if this.display_value}}
                  <div class="row pb-1">
                    <div class="col-2"><span class="text-capitalize font-weight-bold">{{this.display_label}}:</span></div>
                    <div class="col-10">
                      {{#isImageUrl this.input_kind}}
                        <img height = 100px width = 100px src = "{{this.display_value}}"/>
                      {{/isImageUrl}}
                      {{#isText this.input_kind}}
                        <span class="font-weight-light">{{{this.display_value}}}</span>
                      {{/isText}}
                      {{#isColor this.input_kind}}
                        <div style="height:20px;width:50px;background-color:{{this.display_value}};" />
                      {{/isColor}}
                      {{#isTimeStamp this.input_kind}}
                        {{{getDate this.display_value}}}
                      {{/isTimeStamp}}
                    </div>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
</script>