<script type="text/x-handlebars-template" id="published_news_list">
  <div id="accordion">
    {{#each published_list_data}}
    <div class="card mb-3 published-mode">
      <div class="card-header" id="listHeading">
        <h5 class="mb-0 text-truncate">
          <div class="btn btn-link text-truncate px-0" data-toggle="collapse" data-target="#published_rec_{{this.id}}" aria-expanded="true" aria-controls="published_rec_{{this.id}}">
            #{{math @index '+' 1}} {{{this.heading}}}
          </div>
        </h5>
      </div>
      <div id="published_rec_{{this.id}}" class="collapse show" aria-labelledby="listHeading" data-parent="#accordion">
        <div class="card-body">
          {{#this.record}}
          <div class="row">
            <div class="col-4 p-0" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);">
              <a href="{{news_list_link.display_value}}" target="_blank">
                {{#news_list_image}}
                <img src="{{display_value}}"class="img-fluid">
                {{/news_list_image}}
                <div class="px-2 py-2">
                  {{#news_list_title}}
                    <div style="font-weight: 600;">{{{display_value}}}</div>
                  {{/news_list_title}}
                  {{#news_list_description}}
                    <div class="pt-2">{{{display_value}}}</div>
                  {{/news_list_description}}
                </div>
              </a>
              {{#news_list_date}}
              <div class="px-2 py-1" style="border-top: solid 1px #e9f1f2;font-size: 10px;">
                {{getDisplayDate display_value null}}
              </div>
              {{/news_list_date}}
            </div>
          </div>
          {{/this.record}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</script>