<script type="text/x-handlebars-template" id="published_list_view">
  <div id="accordion">
    {{#each published_list_data}}
    <div class="card mb-3 published-mode">
      <div class="card-header" id="listHeading">
        <h5 class="mb-0 text-truncate">
          <div class="btn btn-link text-truncate px-0" data-toggle="collapse" data-target="#published_rec_{{this.id}}" aria-expanded="true" aria-controls="published_rec_{{this.id}}">
            #{{math @index '+' 1}} {{{this.heading}}}
          </div>
        </h5>
      </div>
      <div id="published_rec_{{this.id}}" class="collapse show" aria-labelledby="listHeading" data-parent="#accordion">
        <div class="card-body">
          {{#each this.record}}
            {{#if this.display_value}}
              <%= render :partial => "/shared/ost_form_builder/partials/view_partial" %>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</script>