<script  type="text/x-handlebars-template" id="news_list">
  <form>
    {{#each news_list}}
      {{> generic-text input_label=this.meta_ui.input_label data_key_name=this.meta_ui.data_key_name}}
    {{/each}}
  </form>
</script>