@import "../ost_theme/variables";

#logo-group{
  padding: 10px;
  height: 40px;
  .logo-icon{
    height: 35px;
    fill: #34445b;
  }
  .logo-text{
    height: 40px;
    font-family: "Quasimoda", Source Sans Pro, sans-serif;
    color: #34445b;
  }
}

.app-nav__item{
  padding: 8px;
}

//to move in appropriate file

.card-header{
  background-color: $card-bg;
}

#accordion .card.draft-mode{
  cursor: move;
}

