@import "../ost_theme/variables";

#logo-group{
  padding: 10px;
  height: 40px;
  .logo-icon{
    height: 35px;
    fill: #34445b;
  }
  .logo-text{
    height: 40px;
    font-family: "Quasimoda", Source Sans Pro, sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 34px;
  }
}

.app-nav__item{
  padding: 8px;
}

//to move in appropriate file

.card-header{
  background-color: $card-bg;
}

.ui-sortable .card.draft-mode .card-header {
  cursor: move;

}
.drag-icon {
  position: absolute;
  top: 26px;
  left: 6px;
}

.j-edit-link, .j-delete-link{
  cursor: pointer;
}

.custom-file.form-control{
  border: none;
}

a.treeview-item{
  &.selected{
    background-color: #fbd764;
    color: #34445b;
  }
}

.bootstrap-select {
  .btn {
    background-color: $grey-bg;
  }
}

.bootstrap-tagsinput {
  width: 100%;
  .tag {
    margin-right: 2px;
    color: $white;
  }
  .label-info {
    border-color: $yellow-400;
    background-color: $yellow-400;
    border-radius: $border-radius;
    padding: .25rem;
  }
}

.not-in-view{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.app-header {
  .dropdown.bootstrap-select, #preview-page-btn {
    margin-right: 20px;
  }
  .dropdown-toggle , #preview-page-btn{
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 4px;
  }
}

#genericModal {
  .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
  }
}

.content-wrapper{
  overflow: auto;
  background-color: #fbfbfb;
  height: calc(100vh - 130px);
  .nav-tabs{
    .nav-link{
      &.active{
        background-color: #fbfbfb;
        border-color: #dee2e6 #dee2e6 transparent;
      }
    }
  }
  .card{
    overflow: hidden;
  }
}

