<footer class="sticky-footer">
  <div class="container my-auto">
    <button type="submit" class="btn btn-secondary pt-3 pb-3 float-right" data-submiting="Setting Up...">Reset</button>
    <button type="submit" class="btn btn-secondary pt-3 pb-3 float-right" data-submiting="Setting Up...">Save</button>
    <button type="submit" class="btn btn-secondary pt-3 pb-3 float-right" data-submiting="Setting Up...">Preview</button>
  </div>
</footer>