<%

  form_data = {
       header: "Press Releases",
       title: "Simple Token Public Token Sale Closes After Major Success",
       link: "https://www.prnewswire.com/news-releases/simple-token-public-token-sale-closes-after-major-success-300567387.html?tc=eml_cleartime",
       desc: "Utility Token Sale Surpasses Expectations at 189 Percent of ICO Target",
       date: "6-Dec-2017"
   }


  fe_form_config = @config_response
  be_form_config = @@config_response

  form_submit_url = "/something"
%>
<script type="text/x-handlebars-template" id="generic-form-template" data-partial-id="generic-form-template">
  <form action="" method="post" id="">
  </form>
</script>



