<%
  meta_info = {
      home_page: {
          page_label: "Home Page",
          page_icon_class: "fa-home",
          lists: [news_ol: {
                list_label: "News List",
                id: 1
            }]
      },
      team_page: {
          page_label: "Team Page",
          page_icon_class: "fa-users",
          lists: [{team_ol: {
                    list_label: "Members List",
                    id: 2
                  }},
                  {advisory_team_ol: {
                      list_label: "Advisors List",
                      id: 3
                  }},
                  {extended_team_ol: {
                      list_label: "Extended Team List",
                      id: 4
                  }}]
      },
      careers_page: {
          page_label: "Careers Page",
          page_icon_class: "fa-graduation-cap",
          lists: [{berlin_careers_ol: {
                    list_label: "Berlin Careers List",
                     id: 5
                  }},
                  {pune_careers_ol: {
                      list_label: "Pune Careers List",
                       id: 6
                  }}

          ]
      },
      partners_page: {
          page_label: "Partners Page",
          page_icon_class: "fa-th-list",
          lists: [
              {
                  partners_ol: {
                      list_label: "Partners List",
                      id: 7
                    }
              }
          ]
      }
  }

%>

<aside class="app-sidebar">
  <ul class="app-menu">
    <% meta_info.each do |key, data | %>
      <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa <%=data[:page_icon_class] %>"></i><span class="app-menu__label"><%= data[:page_label] %></span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
          <% data[:lists].each do |list_item | %>
            <% rec_id = list_item.values[0][:id].to_s.to_sym %>
            <% if @config_response["meta"][rec_id] %>
              <li><a class="treeview-item" href="/dashboard/<%= list_item.values[0][:id] %>"><i class="icon fa fa-circle-o"></i><%= list_item.values[0][:list_label] %></a>
              </li>
            <%end%>
          <% end%>
        </ul>
      </li>
    <% end %>
  </ul>
</aside>