<!-- Sidebar -->
<ul class="sidebar navbar-nav pt-0 pt-md-4">
  <li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="homePageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Home Page</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="homePageDropdown">
      <a class="dropdown-item" href="login.html">News</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="homePageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Team Page</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="homePageDropdown">
      <a class="dropdown-item" href="login.html">Members List</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="careersPageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Careers Page</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="careersPageDropdown">
      <h6 class="dropdown-header">Pune</h6>
      <a class="dropdown-item" href="login.html">Jobs List</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Berlin</h6>
      <a class="dropdown-item" href="login.html">Jobs List</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Hong Kong</h6>
      <a class="dropdown-item" href="login.html">Jobs List</a>
      <div class="dropdown-divider"></div>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="partnersPageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Partners Page</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="partnersPageDropdown">
      <a class="dropdown-item" href="login.html">Partners List</a>
    </div>
  </li>
</ul>